:root {

    /* Primary */
    --darkBlue: hsl(233, 26%, 24%);
    --limeGreen: hsl(136, 65%, 51%);
    --brightCyan: hsl(192, 70%, 51%);
    /* Neutral */
    --grayBlue: hsl(233, 8%, 62%);
    --lightBlue: hsl(220, 16%, 96%);
    --veryLightBlue: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    --font: 'Public Sans', sans-serif;
    --gradient1: linear-gradient(to right, var(--limeGreen), var(--brightCyan));
}

body {
    font-family: var(--font);
}

[class$="__container"] {
    max-width: 144rem;
    margin: 0 auto;
}

.bar {
    background-color: var(--white);
    padding: 0 2rem;
    position: relative;
    z-index: 10;
}

/* @media (min-width: 768px){
    .bar{
        max-height: 6.2rem;
    }
} */
.bar__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.2rem;

}

#bar__toggle {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.bar__activated {
    display: block;
    width: 3rem;
    transition: all .3s ease-in-out;
    position: relative;

}

@media (min-width: 768px) {
    #bar__toggle {
        display: none;
    }

    .bar__activated {
        display: none;
    }
}

.bar__hamburger {
    padding: .1rem;
    width: 100%;
    display: block;
    background-color: var(--darkBlue);
    margin-bottom: .5rem;
    user-select: none;
    transform: rotate(0deg);
    transition: all .3s ease-in-out;
}

.bar__hamburger:last-of-type {
    margin-bottom: 0;
}

#bar__toggle:checked~.bar__activated .bar__hamburger {
    position: absolute;
    z-index: 1;
    transition: all .3s ease-in-out;
}

#bar__toggle:checked~.bar__activated .bar__hamburger:nth-of-type(1) {
    transform: rotate(45deg);
}

#bar__toggle:checked~.bar__activated .bar__hamburger:nth-of-type(2) {
    opacity: 0;
}

#bar__toggle:checked~.bar__activated .bar__hamburger:nth-of-type(3) {
    transform: rotate(-45deg);

}

#bar__toggle:checked~.nav {
    position: absolute;
    top: 10rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
    width: 80%;
    border-radius: .5rem;
}

.nav,
.bar__request {
    display: none;
}

@media (min-width: 768px) {

    .nav,
    .bar__request {
        display: flex;
        position: static;
        gap: 2rem;
    }
}

.nav__child {
    text-decoration: none;
    color: var(--grayBlue);
}

@media (min-width: 768px) {
    .nav__child {
        height: inherit;
        position: relative;
        cursor: pointer;
        height: 6.2rem;
        line-height: 3.2;
    }

    .nav__child:focus {
        color: var(--darkBlue);
    }

    .nav__child:hover::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: var(--gradient1);
        display: block;
        height: .3rem;
        width: 100%;
    }
}

.btn {
    background-image: var(--gradient1);
    border: none;
    padding: 1rem 4rem;
    border-radius: 2rem;
    cursor: pointer;
    color: var(--white);
    font-weight: 700;
    transition: opacity .1s ease-in-out;
}

.btn:hover {
    opacity: .8;
}

/* Hero section */


.hero {
    min-height: calc(100vh - 6.2rem);
    background-color: var(--veryLightBlue);
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40rem auto;
}

@media (min-width: 768px) {
    .hero {
        grid-template-columns: 40% 1fr;
        grid-template-rows: none;
    }
}

.hero__content {
    align-self: center;
    padding: 4rem 2rem;
    grid-row: 2/3;
    grid-column: 1/2;
    text-align: center;
}

@media (min-width: 768px) {
    .hero__content {
        grid-column: 1;
        grid-row: unset;
        text-align: left;
    }
}

.hero__heading {
    font-size: 3rem;
    grid-row: 2/3;
    margin-bottom: 2rem;

}

@media (min-width: 768px) {
    .hero__heading {
        font-size: 5rem;
        font-weight: 300;
    }
}

.hero__text {
    line-height: 1.5;
    margin-bottom: 2rem;
    color: var(--grayBlue);
    text-align: justify;
    font-size: 1.2rem;
padding: 0 1.3rem;
}
@media (min-width: 768px){
    .hero__text{
        text-align: left;
    padding: 0 5rem 0 0;
        font-size: 1.8rem;
    }
}
.hero__images {
    grid-row: 1/2;
    position: relative;
}

@media (min-width: 768px) {
    .hero__images {
        grid-row: unset;
    }
}

.hero__images::before {
    background-image: url('../images/image-mockups.png');
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    background-size: contain;
    right: 0;
    top: -117px;
    height: 100%;
    left: 0;
}

@media (min-width: 768px) {
    .hero__images::before {
        top: -100px;
        right: -300px;
        display: block;
        width: 100%;
        height: 120vh;
        left: unset;
    }

}

.hero__images::after {
    background-image: url('../images/bg-intro-mobile.svg');
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .hero__images::after {
        background-image: url('../images/bg-intro-desktop.svg');

    }
}